Repository Garados007/Werewolf, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, server, ci, runtime

Add multiavatar submodule
  .gitmodules
Labels: none

UI: Replace user avatar provider
  content/css/init-select-user.css
  content/css/user-frame-winner.css
  content/index.html
  content/lang/root/de.json
  elm.json
  server/Werewolf/User/UserController.cs
  ui/common/Avatar.elm
  ui/common/Ports.elm
  ui/game/GameMain.elm
  ui/game/GuestInput.elm
  ui/game/Main.elm
  ui/game/Model.elm
  ui/game/Views/ViewPlayerNotification.elm
  ui/game/Views/ViewUserList.elm
  ui/game/Views/ViewUserPreview.elm
  ui/game/Views/ViewWinners.elm
Labels: ui, server

set debouncer cooldown
  ui/game/Main.elm
Labels: ui

Tools: update inc-version script
  inc-version.sh
Labels: none

Move version to 4.5
  version.txt
Labels: none

UI: auto reconnect websocket connection
  content/css/maintenance.css
  content/index.html
  content/lang/root/de.json
  server/Werewolf/Program.cs
  ui/common/Network.elm
  ui/common/Network/NetworkManager.elm
  ui/game/GameMain.elm
  ui/game/Main.elm
  ui/game/Model.elm
  ui/game/Views/ViewCloseReason.elm
Labels: ui, server

Move version to 4.6
  version.txt
Labels: none

UI: show username for removed user in chat
  content/css/player-notification.css
  ui/common/Language/ServiceRenderer.elm
  ui/game/GameMain.elm
  ui/game/Views/ViewChat.elm
Labels: ui

Language: Fix default name of character
  content/lang/root/de.json
Labels: ui

UI: Fix disabled state of characters
  content/css/user-frame-winner.css
  server/Werewolf.Theme.Base/Character.cs
  server/Werewolf.Theme.Base/Events/GameStart.cs
  server/Werewolf/Game/Events/SendGameData.cs
  ui/game/Data.elm
  ui/game/EventData.elm
  ui/game/Views/ViewUserList.elm
Labels: ui, server

UI: Fix language paths for votings
  ui/game/Views/ViewGamePhase.elm
Labels: ui

UI: Display joined player as enabled
  ui/game/Views/ViewUserList.elm
Labels: ui

UI: Add texts for sequences
  content/lang/Theme.werewolf.Mode_BasicWerewolf/default/de.json
  content/lang/root/de.json
  ui/game/Views/ViewGamePhase.elm
Labels: ui

UI: Fix new avatar icon sizes
  content/css/user-frame-winner.css
  content/css/winner-box.css
Labels: ui

UI: Move Chat button in bottom right corner
  content/css/layout.css
  ui/game/GameMain.elm
  ui/game/Main.elm
  ui/game/Views/ViewLayout.elm
Labels: ui

Generator: Add children reflection of AST
  tools/LogicCompiler/Ast/Ast.cs
  tools/LogicCompiler/Ast/Statement.cs
  tools/LogicCompiler/Functions/AllFunctions/AllFunctions.cs
  tools/LogicCompiler/Functions/IFunction.cs
Labels: server

Generator: Add information output
  server/build-and-run.sh
  tools/LogicCompiler/Generator.cs
  tools/LogicCompiler/Info.cs
  tools/LogicCompiler/Program.cs
Labels: server

Tools: Add language conversion tool
  Werewolf.sln
  tools/LangConv/Data.cs
  tools/LangConv/LangConv.csproj
  tools/LangConv/LangIndex.cs
  tools/LangConv/LangNode.cs
  tools/LangConv/LangTree.cs
  tools/LangConv/Program.cs
  tools/LangConv/Validation/CheckIcons.cs
  tools/LangConv/Validation/CheckIfAllGameLanguageKeysAreDefined.cs
  tools/LangConv/Validation/CheckValidThemesInIndex.cs
  tools/LangConv/Validation/IValidator.cs
  tools/LangConv/Validation/LanguageCheckAllModes.cs
  tools/LangConv/Validation/LanguageCheckIfEverythingFromThemesAreDefined.cs
  tools/LangConv/Validation/LanguageUsageInIndex.cs
  tools/LangConv/Validation/LanguageValidPathUsage.cs
  tools/LangConv/Validation/LanguageValidateModeSettings.cs
  tools/LogicCompiler/Ast/Ast.cs
  tools/LogicCompiler/Ast/File.cs
  tools/LogicCompiler/Ast/ValueType.cs
  tools/LogicCompiler/Generator.cs
  tools/LogicCompiler/Info.cs
  tools/LogicCompiler/LogicCompiler.csproj
  tools/LogicCompiler/Program.cs
  tools/LogicTools/Info.cs
  tools/LogicTools/LabelTarget.cs
  tools/LogicTools/LogicTools.csproj
Labels: server

UI: Migrate core components to use the new language file system
  ui/common/Language.elm
  ui/common/Language/Config.elm
  ui/common/Language/Info.elm
  ui/common/Language/ServiceRenderer.elm
  ui/common/Network.elm
  ui/game/GameMain.elm
  ui/game/Main.elm
  ui/game/Model.elm
  ui/game/Views/ViewRoleInfo.elm
  ui/game/Views/ViewRoomEditor.elm
  ui/game/Views/ViewUserList.elm
  ui/game/Views/ViewWinners.elm
  ui/translation/Translation/Data.elm
  ui/translation/Translation/Editor.elm
Labels: ui

Migrate existing language files to the new yaml format
  .gitignore
  content/lang/Theme.werewolf.Mode_BasicWerewolf/bar/de.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/bar/en.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/default/de.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/default/en.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/military/de.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/military/en.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/rotlicht/de.json
  content/lang/Theme.werewolf.Mode_BasicWerewolf/rotlicht/en.json
  content/lang/index.json
  content/lang/raw/game/default.de.yml
  content/lang/raw/game/theme-defaults.de.yml
  content/lang/raw/index.schema.json
  content/lang/raw/index.yml
  content/lang/raw/modes/Theme.werewolf.Mode_BasicWerewolf/bar.base.de.yml
  content/lang/raw/modes/Theme.werewolf.Mode_BasicWerewolf/default.base.de.yml
  content/lang/raw/modes/Theme.werewolf.Mode_BasicWerewolf/default.event.de.yml
  content/lang/raw/modes/Theme.werewolf.Mode_BasicWerewolf/military.base.de.yml
  content/lang/raw/modes/Theme.werewolf.Mode_BasicWerewolf/rotlicht.base.de.yml
  content/lang/root/de.json
  content/lang/root/en.json
Labels: ui

UI Docker: build language files
  docker/game-ui.Dockerfile
  docker/only-supported-lang.sh
Labels: runtime

CI: add tests for language files
  .github/workflows/tests.yml
Labels: ci

Add community related documents and specify license
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
Labels: documentation, ci

UI: hide disabled characters
  ui/game/Views/ViewRoomEditor.elm
Labels: ui

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"
ui:
  - changed-files:
      - any-glob-to-any-file:
          - "content/**"
          - "ui/**"
          - "elm-live.sh"
          - "elm.json"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "logic/**"
          - "server/**"
          - "tools/**"
          - "Werewolf.sln"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
runtime:
  - changed-files:
      - any-glob-to-any-file:
          - "docker/**"
          - ".dockerignore"
          - "docker-compose.yml"
dependencies:
  - changed-files:
      - any-glob-to-all-files:
          - "**/*.sln"
          - "**/*.csproj"
          - "elm.json"
          - "**/package.json"
          - "**/package-lock.json"
enhancement:
  - head-branch:
      - "^feature/"
refactoring:
  - head-branch:
      - "^refactor/"
